.login-form-title {
    text-align: center;
    margin-bottom: 1rem;
}

.login-form-title h2 {
    font-size: 1.55rem;
}

.login-form-line {
    margin-bottom: 1rem;
}

.login-form-button {
    width: 100%;
    font-size: 1rem;
}