@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/SFProText-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/SFProText-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/SFProText-Semibold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/SFProText-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.5;
}

:root {
  background: var(--background-main);

  --background-main: #F5F5F5;
  --background-form: #fff;

  height: 100vh;
  width: 100%;

  color: rgba(0, 0, 0, 0.88);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
}

#root, main {
  height: 100%;
}

.ant-input::-webkit-input-placeholder, .ant-input-password input::-webkit-input-placeholder {
  font-size: 1rem;
  font-weight: 400;
}

.ant-input::-moz-placeholder, .ant-input-password input::-moz-placeholder {
  font-size: 1rem;
  font-weight: 400;
}

.ant-input:-ms-input-placeholder, .ant-input-password input:-ms-input-placeholder {
  font-size: 1rem;
  font-weight: 400;
}

.ant-input::-ms-input-placeholder, .ant-input-password input::-ms-input-placeholder {
  font-size: 1rem;
  font-weight: 400;
}

.ant-input::placeholder,
.ant-input-password input::placeholder {
  font-size: 1rem;
  font-weight: 400;
}

.ant-form-item-explain-error {
  margin: 0.25rem 0 1rem 0;
}

.loader {
  margin-top: 2rem;
}